#header {
    position: relative;
    width: 100%;
    padding-left:20px; 
    padding-right:20px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    box-sizing: border-box;
    text-decoration: underline;
  
}

.btn {
    display: inline-block

}

.bi {
    height: 50px;
    width: 50px;
}


footer {
    background-color: #00496b;
    width: 100%;
    padding-top: 50px;
    position: fixed;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}